<nav class="navbar">
  <div class="navbar-content">
    <a href="#" class="navbar-brand" aria-label="Crosbreaker home">
      <img src="/assets/crosbreaker.webp" alt="Crosbreaker Logo" class="navbar-logo" />
      <span class="navbar-brand-text">CROSBREAKER.</span>
    </a>
    <div class="navbar-links">
      <a href="https://github.com/orgs/crosbreaker/repositories" class="navbar-item">Projects</a>
      <a href="https://discord.com/invite/crosbreaker-1375357349425971231" class="navbar-item"
        >Discord</a
      >
      <a href="https://dl.crosbreaker.dev" class="navbar-item">Downloads</a>
    </div>
  </div>
</nav>
